In [1]:
import pandas as pd
data = {
'Name': ['Peter', 'Joyce', 'George', 'Phylis', 'Moses','Priscillah', 'Eliud'],
'Age': [25, 30, 22, 28, 24, 34, 19],
'Gender': ['Male', 'Female', 'Male', 'Female','Male', 'Female','Male'],
'Marks': [85, 92,'NaN', 88, 'NaN',79,80]
}
wainaina = pd.DataFrame(data)
#wainaina.head(20)
print(wainaina)

         Name  Age  Gender Marks
0       Peter   25    Male    85
1       Joyce   30  Female    92
2      George   22    Male   NaN
3      Phylis   28  Female    88
4       Moses   24    Male   NaN
5  Priscillah   34  Female    79
6       Eliud   19    Male    80

In [25]:
import numpy as np
print(wainaina)
c=0
avg=0
sum=0
for me in wainaina['Marks']:
    if str(me).isnumeric():
        c=c+1;
        #c+=1
        #avg+=me
sum=sum+me
avg=sum/c
print("\n Cout=\n",c)
print("\n Sum=\n",sum)
print("\n Average=\n",avg)
wainaina=wainaina.replace(to_replace="NaN",value=avg)
print("\n NEW DATA \n")
print(wainaina)

      Brand  Year    Model  Sales
0    Maruti  2009    Swift    120
1    Toyota  2010  Corolla    150
2  Mahindra  2011  Scorpio     95
3      Ford  2010   Fiesta     50
4    Maruti  2010     Alto    105
5    Toyota  2009    Camry    130
6    Toyota  2010   Innova     90
7      Ford  2012     Figo     75
8  Mahindra  2010   Bolero     85
9    Maruti  2009   WagonR    115

KeyError: 'Marks'

In [8]:
#Replace 'Gender' values: 'Female' -> 1.0, 'Male' -> 0.0
wainaina['Gender'] = wainaina['Gender'].replace({'Female': 1.0, 'Male': 0.0})

#Display the updated DataFrame
print(wainaina)

         Name  Age  Gender  Marks
0       Peter   25     0.0   85.0
1       Joyce   30     1.0   92.0
2      George   22     0.0   85.0
3      Phylis   28     1.0   88.0
4       Moses   24     0.0   85.0
5  Priscillah   34     1.0   79.0
6       Eliud   19     0.0   80.0

/tmp/ipykernel_42614/1890683985.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  wainaina['Gender'] = wainaina['Gender'].replace({'Female': 1.0, 'Male': 0.0})

In [10]:
#Replace 'Gender' values: 'Female' -> 1.0, 'Male' -> 0.0
wainaina['Gender'] = wainaina['Gender'].map({'Female': 1.0, 'Male': 0.0}).astype(float)

#Display the updated DataFrame
print(wainaina)

         Name  Age  Gender  Marks
0       Peter   25     NaN   85.0
1       Joyce   30     NaN   92.0
2      George   22     NaN   85.0
3      Phylis   28     NaN   88.0
4       Moses   24     NaN   85.0
5  Priscillah   34     NaN   79.0
6       Eliud   19     NaN   80.0

In [11]:
wainaina=wainaina[wainaina['Marks']>=85]
wainaina=wainaina.drop(['Gender'],axis=1)
print(wainaina)

     Name  Age  Marks
0   Peter   25   85.0
1   Joyce   30   92.0
2  George   22   85.0
3  Phylis   28   88.0
4   Moses   24   85.0

In [12]:
#Check the data type of the 'Gender' column before mapping
print(wainaina)
print('\n Data Type=%s' %wainaina['Gender'].dtype)

#Map 'Male' to 0 and 'Female' to 1 and cast to float
wainaina['Gender'] = wainaina['Gender'].map({'Male': 0, 'Female': 1}).astype(float)

#Display the updated DataFrame
print('\n Data Type=%s' %wainaina['Gender'].dtype)

     Name  Age  Marks
0   Peter   25   85.0
1   Joyce   30   92.0
2  George   22   85.0
3  Phylis   28   88.0
4   Moses   24   85.0

KeyError: 'Gender'

In [13]:
#Sort the DataFrame by 'Marks' column in descending order
wainaina.sort_values(by='Marks', ascending=False, inplace=True)

#Select the top-scoring students (e.g., top 3)
top_scorers = wainaina[['Name', 'Gender', 'Marks']].head(3)

#Display the details of the top-scoring students
print(top_scorers)

KeyError: "['Gender'] not in index"

In [14]:
import pandas as pd
STUDENTDETAILS = {
'IDNO': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'NAME': ['Peter', 'Joyce', 'George', 'Phylis', 'Moses','Priscillah', 'Eliud','Veronicah','John', 'Juliet'],
'Campus': ['Main','Ruiru', 'Nairobi', 'Main', 'Ruiru', 'Nairobi','Main', 'Ruiru', 'Nairobi','Main']
}
wainaina1 = pd.DataFrame(STUDENTDETAILS)
print(wainaina1)

   IDNO        NAME   Campus
0   101       Peter     Main
1   102       Joyce    Ruiru
2   103      George  Nairobi
3   104      Phylis     Main
4   105       Moses    Ruiru
5   106  Priscillah  Nairobi
6   107       Eliud     Main
7   108   Veronicah    Ruiru
8   109        John  Nairobi
9   110      Juliet     Main

In [15]:
import pandas as pd
FEESDETAILS = {
'IDNO': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'PENDING': ['6000', '375', 'NIL', '7640', '3800','NIL', '1250','900','5200', 'NIL']
}
wainaina2 = pd.DataFrame(FEESDETAILS)
print(wainaina2)

   IDNO PENDING
0   101    6000
1   102     375
2   103     NIL
3   104    7640
4   105    3800
5   106     NIL
6   107    1250
7   108     900
8   109    5200
9   110     NIL

In [16]:
import pandas as pd
STUDENTDETAILS = {
'IDNO': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'NAME': ['Peter', 'Joyce', 'George', 'Phylis', 'Moses','Priscillah', 'Eliud','Veronicah','John', 'Juliet'],
'Campus': ['Main', 'Ruiru', 'Nairobi', 'Main', 'Ruiru', 'Nairobi','Main', 'Ruiru', 'Nairobi','Main']
}
wainaina1 = pd.DataFrame(STUDENTDETAILS)

FEESDETAILS = {
'IDNO': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'PENDING': ['6000', '375', 'NIL', '7640', '3800','NIL', '1250','900','5200', 'NIL']
}
wainaina2 = pd.DataFrame(FEESDETAILS)

#merging Dataframe
print(pd.merge(wainaina1,wainaina2,on='IDNO'))

   IDNO        NAME   Campus PENDING
0   101       Peter     Main    6000
1   102       Joyce    Ruiru     375
2   103      George  Nairobi     NIL
3   104      Phylis     Main    7640
4   105       Moses    Ruiru    3800
5   106  Priscillah  Nairobi     NIL
6   107       Eliud     Main    1250
7   108   Veronicah    Ruiru     900
8   109        John  Nairobi    5200
9   110      Juliet     Main     NIL

In [17]:
import pandas as pd

#Create a DataFrame for student details
STUDENTDETAILS = {
'IDNO': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'NAME': ['Peter', 'Joyce', 'George', 'Phylis', 'Moses', 'Priscillah', 'Eliud', 'Veronicah', 'John', 'Juliet'],
'Campus': ['Main', 'Ruiru', 'Nairobi', 'Main', 'Ruiru', 'Nairobi', 'Main', 'Ruiru', 'Nairobi', 'Main']
}
wainaina1 = pd.DataFrame(STUDENTDETAILS)

#Create a DataFrame for student fees
FEESDETAILS = {
'IDNO': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'PENDING': [6000, 375, 0, 7640, 3800, 0, 1250, 900, 5200, 0]
}
wainaina2 = pd.DataFrame(FEESDETAILS)

#Merge the two DataFrames on 'IDNO' to combine them
merged_df = pd.merge(wainaina1, wainaina2, on='IDNO')

#Group the merged DataFrame by 'Campus' and calculate the total pending fees for each campus
campus_fee_totals = merged_df.groupby('Campus')['PENDING'].sum().reset_index()

#Display the total pending fees for each campus
print(campus_fee_totals)

    Campus  PENDING
0     Main    14890
1  Nairobi     5200
2    Ruiru     5075

In [18]:
import pandas as pd
cardata = {
'Brand': ['Maruti', 'Toyota', 'Mahindra', 'Ford', 'Maruti', 'Toyota', 'Toyota', 'Ford', 'Mahindra', 'Maruti'],
'Year': [2009, 2010, 2011, 2010, 2010, 2009, 2010, 2012, 2010, 2009],
'Model': ['Swift', 'Corolla', 'Scorpio', 'Fiesta', 'Alto', 'Camry', 'Innova', 'Figo', 'Bolero', 'WagonR'],
'Sales': [120, 150, 95, 50, 105, 130, 90, 75, 85, 115]
}

#Create a DataFrame from the sample data
wainaina= pd.DataFrame(cardata)
print(wainaina)
print("\n GROUPED DATA \n")
grouped=wainaina.groupby('Year')

#Display the filtered DataFrame for car sales in a given year
print(grouped.get_group(2012))

      Brand  Year    Model  Sales
0    Maruti  2009    Swift    120
1    Toyota  2010  Corolla    150
2  Mahindra  2011  Scorpio     95
3      Ford  2010   Fiesta     50
4    Maruti  2010     Alto    105
5    Toyota  2009    Camry    130
6    Toyota  2010   Innova     90
7      Ford  2012     Figo     75
8  Mahindra  2010   Bolero     85
9    Maruti  2009   WagonR    115

 GROUPED DATA

  Brand  Year Model  Sales
7  Ford  2012  Figo     75

In [19]:
import pandas as pd
cardata = {
'Brand': ['Maruti', 'Toyota', 'Mahindra', 'Ford', 'Maruti', 'Toyota', 'Toyota', 'Ford', 'Mahindra', 'Maruti'],
'Year': [2009, 2010, 2011, 2010, 2010, 2009, 2010, 2012, 2010, 2009],
'Model': ['Swift', 'Corolla', 'Scorpio', 'Fiesta', 'Alto', 'Camry', 'Innova', 'Figo', 'Bolero', 'WagonR'],
'Sales': [120, 150, 95, 50, 105, 130, 90, 75, 85, 115]
}

#Create a DataFrame from the sample data
wainaina= pd.DataFrame(cardata)
print(wainaina)
print("\n GROUPED DATA \n")
grouped=wainaina.groupby('Year')
mychoice = [2009,2011, 2012]

#Display the filtered DataFrame for car sales in a given year
for year in mychoice:
print(f"\n Data for Year {year}:\n")
print(grouped.get_group(year))

IndentationError: expected an indented block after 'for' statement on line 17 (1199408564.py, line 18)

In [20]:
import pandas as pd
cardata = {
'Brand': ['Maruti', 'Toyota', 'Mahindra', 'Ford', 'Maruti', 'Toyota', 'Toyota', 'Ford', 'Mahindra', 'Maruti'],
'Year': [2009, 2010, 2011, 2010, 2010, 2009, 2010, 2012, 2010, 2009],
'Model': ['Swift', 'Corolla', 'Scorpio', 'Fiesta', 'Alto', 'Camry', 'Innova', 'Figo', 'Bolero', 'WagonR'],
'Sales': [120, 150, 95, 50, 105, 130, 90, 75, 85, 115]
}

Create a DataFrame from the sample data
wainaina= pd.DataFrame(cardata)

Filter the data to keep only car sales in the year 2010
sales2010 = wainaina[wainaina['Year'] == 2010]

Display the filtered DataFrame for car sales in 2010
print(sales2010)

SyntaxError: invalid syntax (1330779183.py, line 9)

In [ ]:
import pandas as pd
cardata = {
'Brand': ['Maruti', 'Toyota', 'Mahindra', 'Ford', 'Maruti', 'Toyota', 'Toyota', 'Ford', 'Mahindra', 'Maruti'],
'Year': [2009, 2010, 2011, 2010, 2010, 2009, 2010, 2012, 2010, 2009],
'Model': ['Swift', 'Corolla', 'Scorpio', 'Fiesta', 'Alto', 'Camry', 'Innova', 'Figo', 'Bolero', 'WagonR'],
'Sales': [120, 150, 95, 50, 105, 130, 90, 75, 85, 115]
}

Create a DataFrame from the sample data
wainaina= pd.DataFrame(cardata)

Filter the data to keep only car sales in the year 2010
sales2010 = wainaina[(wainaina['Year'] == 2010) & (wainaina['Sales'] > 100)]

Display the filtered DataFrame for car sales in 2010
print(sales2010)

In [ ]:
import pandas as pd

Sample data for car sales
cardata = {
'Brand': ['Maruti', 'Toyota', 'Mahindra', 'Ford', 'Maruti', 'Toyota', 'Toyota', 'Ford', 'Mahindra', 'Maruti'],
'Year': [2009, 2010, 2011, 2010, 2010, 2009, 2010, 2012, 2010, 2009],
'Model': ['Swift', 'Corolla', 'Scorpio', 'Fiesta', 'Alto', 'Camry', 'Innova', 'Figo', 'Bolero', 'WagonR'],
'Sales': [120, 150, 95, 50, 105, 130, 90, 75, 85, 115]
}

Create a DataFrame from the sample data
wainaina = pd.DataFrame(cardata)

Filter data for the year 2010 or 2011 using logical OR operator |
filtered_data = wainaina[(wainaina['Year'] == 2010) | (wainaina['Year'] == 2011) | (wainaina['Year'] == 2009)]

Display the filtered DataFrame
print(filtered_data)